language: node_js

node_js:
  - "0.10"
  - "0.12"

branches:
  except:
    - gh-pages

script:
    - npm test --cover

before_install:
  - phantomjs -v
  - if [[ `node --version` == *v0.8* ]]; then npm install -g npm; fi
